@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc;
@{
    Layout = null;

    Html.RequiresCss("~/css/bootstrap.min.css");
    Html.RequiresCss("~/css/style.css");
    Html.RequiresCss("https://fonts.gstatic.com");
    Html.RequiresCss("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

    Html.RequiresJs("~/js/bootstrap.min.js");
    Html.RequiresJs("~/js/jquery.min.js");
    Html.RequiresJs("~/js/slick.min.js");
    Html.RequiresJs("~/js/script.js");


}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>TestSite.com</title>

    @Html.RenderCssHere()
</head>

<body>
    <div class="wrapper">

        @Html.Partial("~/Views/Partials/Test-site/tHeader.cshtml")

        @RenderBody()

        @Html.Partial("~/Views/Partials/Test-site/tFooter.cshtml")


    </div>

    @Html.RenderJsHere()

</body>

</html>