@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.NewsList>
@{
    Layout = "Master.cshtml";

    int amountNews = (int)(Model.TAmountNews);
    string sortTypeForLink = "", sortDate = Request.QueryString["sortDate"];
    double maxPage = Math.Round((double)(Model.Children.Count()) / amountNews);
    if (!int.TryParse(Request.QueryString["page"], out int page))
    {
        page = 1;
    }

    var listNews = Model.Children.ToList();
    var newListNews = new List<NewsItem>();


    if (listNews.Count() != 0 && listNews[0] is NewsItem)
    {
        newListNews = listNews.Cast<NewsItem>().ToList();

        if (!string.IsNullOrWhiteSpace(sortDate))
        {
            switch (sortDate)
            {
                case "Asc":
                    {
                        newListNews = newListNews.OrderBy(o => o.TDate.Date).ToList();
                        goto case "SaveSortType";
                    };
                case "Desc":
                    {
                        newListNews = newListNews.OrderByDescending(o => o.TDate.Date).ToList();
                        goto case "SaveSortType";

                    };
                case "SaveSortType":
                    {
                        sortTypeForLink = $"&sortDate={sortDate}";
                        break;
                    }
            }
        }

        newListNews = newListNews.Skip(amountNews * (page - 1)).Take(amountNews).ToList();
    }
}


<main class="container">
    @if (newListNews.Any())
    {
        <section class="mt-3">
            <table class="table-hover table table-light border">
                <thead>
                    <tr>
                        <th scope="col">Headline</th>
                        <th scope="col">Key words</th>
                        <th scope="col">
                            Date
                            @if (sortDate == "Desc")
                            {
                                <a type="button" class="table__sort-date" href="@($"{Model.Url}?page={page}&sortDate=Asc")">
                                    &#9650
                                </a>
                            }
                            else
                            {
                                <a type="button" class="table__sort-date" href="@($"{Model.Url}?page={page}&sortDate=Desc")">
                                    &#9660
                                </a>
                            }
                        </th>
                        <th scope="col" class="table__th-link">Link</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (NewsItem newsItem in newListNews)
                    {
                        <tr>
                            <td>@newsItem.THeadline</td>
                            <td>@string.Join(", ", newsItem.TKeyWords)</td>
                            <td>@newsItem.TDate.ToString("dd.MM.yyyy")</td>
                            <td>
                                <a href="@newsItem.Url" class="text-center d-block table__link">
                                    &#10132
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section><section class="mt-3 d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (page > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@($"{Model.Url}?page={page-1}{sortTypeForLink}")" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="@($"{Model.Url}?page={page-1}{sortTypeForLink}")">@(page-1)</a></li>
                    }

                    <li class="page-item"><a class="page-link" href="@($"{Model.Url}?page={page}{sortTypeForLink}")">@(page)</a></li>

                    @if (page < maxPage)
                    {
                        <li class="page-item"><a class="page-link" href="@($"{Model.Url}?page={page+1}{sortTypeForLink}")">@(page+1)</a></li>
                        <li class="page-item">
                            <a class="page-link" href="@($"{Model.Url}?page={page+1}{sortTypeForLink}")" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </section>
    }
    else
    {
        <p class="text-center m-4">Don't find news</p>
    }
</main>